@use "./variables" as*;


.proyectos-galeria {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	gap: 30px;
	padding: 50px 20px;
	background-color: $background-color_2;
	margin-bottom: 50px;
}
.proyecto-item {
	position: relative;
	overflow: hidden;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	img {
		width: 100%;
		height: 350px;
		object-fit: cover;
		display: block;
		transition: transform 0.3s ease;
	}
	&:hover {
		img {
			transform: scale(1.05);
		}
	}
}
.proyecto-overlay {
	position: absolute;
	inset: 0;
	background-color: $background-color_3;
	color: $color_4;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	transition: opacity 0.3s ease;
	p {
		font-size: 1.5em;
		font-weight: bold;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 2px;
	}
	a {
		color: $color_5;
		text-decoration: none;
		position: absolute;
		inset: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		p {
			z-index: 1;
		}
		&:hover {
			color: $color_5;
			text-decoration: none;
		}
	}
}