$color_1: #333;
$color_2: #c300ff;
$color_3: #222;
$color_4: #fff;
$color_5: white;
$color_6: black;
$color_7: #000;
$font-family_1: Arial, sans-serif;
$background-color_1: #ffffff;
$background-color_2: #fff;
$background-color_3: rgba(0, 0, 0, 0.6);
$background-color_4: #ccfccc;
$background-color_5: #222;
$background-color_6: #e6e3daef;
$background-color_7: transparent;
$background-color_8: #000;
$border-color_1: #000;
$overlay-dark: rgba(0, 0, 0, 0.6);